* {
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
}

.bg-sergi {
  background-color: rgb(18, 29, 42);
  height: 80vh;
}

.nav, footer {
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  display: inline;
  flex-wrap: wrap;
}

.carousel-item img {
  width: 400px;
  height: 700px;
  padding: 40px;
}

.nav-item :hover {
  color: lightblue;
  font-size: 20px;
}

/*Grid Index */
.grid-parent img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 2px;
  grid-row-gap: 0px;
}

.imagencentral {
  width: 40%;
  display: flex;
  align-self: center;
  margin: 0% auto;
}

.descripcion {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: white;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 500px;
  top: 150px;
}

.firma2 {
  width: 33vh;
  height: 33vh;
  position: relative;
  left: 1500px;
  bottom: 380px;
}

.imagensilvia {
  height: 35vh;
  width: 35vh;
  position: relative;
  bottom: 50px;
  left: 150px;
}

.piepagina {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 1px;
}

.fondoantecedentes {
  background-image: url(../multimedia/fotos/electro.jpg);
  padding: 100px;
}

.fondoantecedentes h1 {
  font-size: 55px;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  color: rgb(252, 250, 250);
  position: relative;
}

.list-bullets {
  list-style: none;
}

.list-bullets li {
  display: flex;
  align-items: center;
  color: black;
}

.list-bullets li::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #5784d7;
  border: 2px solid #8fb3f5;
  display: block;
  margin-right: 1rem;
}

.list-bullets :hover {
  transition-property: all;
  transition-duration: 2s;
  font-size: 20px;
  color: lightblue;
}

.fondoconsultorio {
  background-color: rgb(18, 29, 42);
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: xx-large;
  
}

.fondoconsultorio h1 {
  display: flex;
  justify-content: center;
}

.fondopediatria {
  background-image: url(../multimedia/fotos/fondo.jpg);
  color: white;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: x-large;
  margin: 3px;
 
}
.fondopediatria h1 {
  display: flex;
  justify-content: center;
  margin: 2px;
}

.videos {
  display: flex;
  justify-content: space space-between;
  align-self: flex-end;
  height: 80vh;
  position: relative;
  top: 150px;
  
}

.videos h3 p {
  position: relative;
  bottom: 50px;
  left: 400px;
  font-size: x-large;
}


@media only screen and (max-width: 1400px) {
  .videos {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    
  }
  .fondopediatria {
    height: 140vh;
  }
  .videos h3 p {
    position: inherit;
  }
  .piepagina {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fondoconsultorio img {
    max-width: 800px;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

}
.fondo {
  background-image: url(../multimedia/fotos/estetoscopio.jpg); 
  height: 100vh;
  width: 100%;
  padding: 20vh;
  box-sizing: ;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}


.contacto h1 {
  font-size: 40px;
  position: relative;
  left: 90px;
  top: 80px;
  color: rgb(253, 252, 252);
}

/*Mapa contiene una key y un valor  */

/*# sourceMappingURL=style.css.map */
