.fondoconsultorio {
    background-color: rgb(18, 29, 42);
    color: white;
    font-family: "Montserrat", sans-serif;
    font-family: "Roboto", sans-serif;
    font-size: xx-large;
  }

  .fondoconsultorio h1 {
    display: flex;
    justify-content: center;
  }