.fondo {
    background-image: url(../multimedia/fotos/estetoscopio.jpg);
    padding: 100px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-family: "Roboto", sans-serif;
  }
  
  .contacto h1 {
    font-size: 40px;
    position: relative;
    left: 90px;
    top: 80px;
    color: rgb(253, 252, 252);
   
  }